<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" dir="ltr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat-app.css') }}">
</head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function room() {
        var room = window.location.href.substring(window.location.href.lastIndexOf("/")+1);
        if (room=="") room = "general";
        return "/api/chat/"+room;
      }
      function clear() {
        var room = window.location.href.substring(window.location.href.lastIndexOf("/")+1);
        if (room=="") room = "general";
        return "/api/clear/"+room;
      }

      function updateChat() {
        $.get(room(), function(data) {
          $("#chatbox").text(data);
          window.setTimeout(updateChat, 1500);
        })
      }
      
      function clearRoom() {
        $.post(clear(), $("#clear").serialize() );
      }
      function sendmessage() {
        $.post(room(), $("#inform").serialize() );
      }

      $(document).ready(function() {
        $("#chatbox").text("Loading chat...");
        $("#sendBtn").click(sendmessage)
        $("#clear").click(clearRoom)
        window.setTimeout(updateChat, 1500);
      });

    </script>
    <body id="chat-body">
      <input value="clear" action="api/clear" method="POST" id="clear" type="button"></input>
      <h1>Chat Room: {{ room }}</h1>
      <form id="inform" action="/api/chat" method="POST">
        Message:<br><input id="msg-input" name="msg" type=text>
        <input id="sendBtn" type="button" value="send">
      </form>
      <pre id="chatbox">Loading...</pre>
      <br>
      <br>
     </div>
      <a href="/lobby">Back to lobby</a>
      <br>
      <br>
      <a href="/logout">logout</a>

    </body>
  </html>