<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' dir="ltr">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login Menu</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat-app.css') }}"></head>
</head>
<body>
  
    <div class="login-box">
        <h2>Log in</h2>
        <form id="login-form" action="{{ url_for('loginPage') }}" method="POST">
          <img src="../static/profile.png" >
          <div class="flashes">
            {% for message in get_flashed_messages()%}
              {{ message|safe }}
            {% endfor %}
          </div>
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>User name</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <a class="submit-form" href="#" onclick="submitForm();">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
      </div>

      <script>
        function submitForm() {
          document.getElementById("login-form").submit();
        }
      </script>

</body>
</html>
